.about .section-intro {
  padding-bottom: 120px; }

.about .section-about h2 {
  text-align: left;
  font-size: 60px; }

.about .section-about .section-copy {
  margin-bottom: 0;
  margin-top: 25px;
  line-height: 29px;
  font-size: 20px; }
  .about .section-about .section-copy:first-child {
    margin-top: 0; }

.about .section-about .section-header {
  margin-bottom: 30px; }
