.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .aligner .aligner-item {
    max-width: 50%; }
  .aligner .aligner-item--top {
    align-self: flex-start; }
  .aligner .aligner-item--bottom {
    align-self: flex-end; }

* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

.wrap {
  min-height: 100%; }

.main {
  overflow: auto;
  padding-bottom: 100px; }

/* must be same height as the footer */
.footer {
  position: relative;
  margin-top: -100px;
  /* negative value of footer height */
  height: 100px;
  clear: both; }

html {
  overflow-x: hidden; }

body {
  color: #444; }

.background-alt {
  background-color: #FAFAFA; }

.background-footer,
.background-nav {
  background-color: #F6F6F6; }

nav {
  overflow-x: hidden;
  padding: 30px 0; }
  nav .end-md > * {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: inline;
    font-weight: 500;
    margin-left: 10px; }
    nav .end-md > *:hover {
      text-emphasis: underline; }

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.7em;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 5px; }

h2, h3 {
  font-family: "adobe-caslon-pro", Georgia, "Times New Roman", sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: 0.4px; }

h3 {
  font-size: 18px; }

h4 {
  letter-spacing: 0.5px; }

p {
  font-family: "adobe-caslon-pro", Georgia, "Times New Roman", sans-serif;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 200; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer; }

.content.col-lg-6 {
  max-width: 800px; }

.section-intro {
  padding: 120px 0; }

.box {
  padding: 150px 0; }

section img {
  max-width: 100%; }

section .header {
  display: block;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 15px; }

section p {
  text-align: left;
  font-size: 14px;
  line-height: 20px; }

.content .section-header {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 15px; }

.content .section-subhead {
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 36.5px; }

.content .subsection-subhead {
  margin-bottom: 20px;
  line-height: 29px;
  font-size: 20px;
  font-weight: 100; }

.content .section-copy {
  margin-bottom: 50px; }
  .content .section-copy:first-child {
    margin-top: 0px; }
  .content .section-copy a {
    text-decoration: underline;
    text-align: left;
    font-weight: 600; }
  .content .section-copy strong {
    font-weight: 600; }

.content .element {
  margin-bottom: 10px; }

.content .caption {
  margin-top: 10px;
  margin-bottom: 50px; }

.section-intro {
  line-height: 50px; }

.section-fresh .section-copy-first {
  margin-bottom: 25px; }

.parking-app .section-intro {
  padding-bottom: 50px; }

.parking-app .content p {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px; }

.parking-app .copy {
  margin-bottom: 50px; }

.section-footer {
  display: inline-block;
  padding: 40px 0; }
  .section-footer p, .section-footer a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: left; }
  .section-footer a {
    margin-left: 12px; }
  .section-footer p {
    padding-top: 10px; }
  .section-footer .section-icons {
    text-align: right; }

.box {
  width: 100%;
  height: 100%;
  position: relative; }
  .box .overlay {
    background: #F4f4f4;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    position: absolute;
    transition: all .5s; }
  .box:hover .overlay {
    opacity: .3; }

@media (max-width: 675px) {
  .overview .box {
    padding: 75px 0; }
  .overview .image {
    padding-bottom: 30px; }
  .photo .caption {
    text-align: center; }
  nav {
    padding: 40px 0; }
    nav .nav-header {
      margin-bottom: 10px; }
    nav h3 {
      font-size: 14px; }
    nav .end-md > * {
      font-size: 15px; } }
