.about {
	.section-intro {
		padding-bottom: 120px;
	}

	.section-about {
		h2 {
			text-align: left;
			font-size: 60px;
		}
		.section-copy {
			margin-bottom: 0;
			margin-top: 25px;
			line-height: 29px;
	    font-size: 20px;

			&:first-child {
				margin-top: 0;
			}
		}
		.section-header {
			margin-bottom: 30px;
		}
	}
}
